 .navigation{
    margin-top:0;
    margin-left: 140px;
    margin-right: 140px;

  }
  .LogoNav{
    margin-top: 17px;
    width:300px;
  }
@media screen and (max-width:400px){
  .LogoNav{
    width:120px;
    margin-top:25px;
  }
}
@media screen and (min-width:401px) and (max-width:768px){
  .LogoNav{
    width: 170px;
    margin-top:28px;
  }
}
  @media screen and (min-width:769px) and (max-width:1000px){
    .LogoNav{
      margin-top:22px;
      width: 220px;
    }
  }

@media screen and (max-width:840px){
  .navigation{
    margin-left: 0px;
    margin-right: 0px;
  }
}
  .nav-bar{
    float:right;
    font-size: 15px;
    background-color: rgba(123, 3, 152, 1);
border: 1px solid rgba(112, 112, 112, 1);
border-radius: 1px;
width: 100%;
margin-top: none;
  } 
  nav ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 5px;
  }
  .nav-items{
    float:right;
    font-size: 30px;
  }

  nav ul li{
      text-decoration: none;
    margin-right: 20px;
    cursor:pointer;
    padding:0.5em;
  }
@media screen and (max-width:400px){
  .nav-items{
    float:right;
    margin-top:15px;
    font-size:14px;
  }
}
  @media screen and (min-width:401px) and (max-width: 768px){
    .nav-items{
    float:right;
   margin-top:18px;
   font-size: 18px;
    }
  }
 